@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #4A4947;
    --cor1: #B17457;
    --cor2: #CCB195;
    --cor3: #D8D2C2;
    --cor4: #FAF7F0;
}

body {
    background-color: var(--cor3);
    text-align: justify;
    line-height: 2em;
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    color: var(--cor4);
    text-align: center;
    padding: 30px 0px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}

header p {
    margin-top: 20px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}

nav {
    background-color: var(--cor1);
    padding: 10px 0px;
}

nav a {
    text-decoration: none;
    color: var(--cor4);
    font-size: 1.5em;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    color: var(--cor1);
    background-color: var(--cor4);
    transition-duration: 0.3s;
    padding: 0px 5px;
    border-radius: 6px;
}

main {
    max-width: 800px;
    background-color: var(--cor4);
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.35);
    border-bottom: 1px solid var(--cor1);
    border-right: 1px solid var(--cor1);
    border-left: 1px solid var(--cor1);
}

article {
    padding: 25px;
    color: var(--cor0);
}

article h1 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    color: var(--cor0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2em;
    padding: 5px;
    margin-bottom: 25px;
}

article p {
    margin: 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

article#a1 p {
    margin-bottom: 10px;
}

article ul {
    margin-left: 25px;
}

article img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0px auto;
}

aside#interation {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    padding: 25px;
    display: flex;
    text-align: left;
    color: var(--cor4);
}

aside#interation div {
    padding-right: 25px;
}

aside#interation a {
    color: var(--cor4);
}

aside#interation img#qrcode {
    width: 100%;
    max-width: 150px;
    margin: auto;
}

footer {
    margin-top: 15px;
    background-color: var(--cor0);
    padding: 25px 0px;
    color: var(--cor4);
    text-align: center;
}

footer h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7em;
    margin-bottom: 5px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: var(--cor3);
}

footer a {
    text-decoration: line;
    color: var(--cor1);
    font-weight: bold;
}

footer a:hover {
    color: var(--cor2);
}

footer img {
    width: 1.2em;
}